@media screen and (min-width: 2000px) {
    header.masthead .masthead-heading {
        font-size: 5rem;
    }
    header.masthead .masthead-subheading {
        font-size: 3.1rem;
    }
}
@media (min-width: 1200px)
.container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
}
@media (min-width: 992px)
.container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
}
@media (min-width: 768px)
.container-md, .container-sm, .container {
    max-width: 720px;
}

@media (min-width: 576px)
.container-sm, .container {
    max-width: 540px;
}
html {
    scroll-behavior: smooth;
  }

body {
    background-color: #fff;
    color:#222;
    font-weight: 400;
}

ul {
    list-style-type: unset;
}

li {
    float: unset;
}

h3 {
    color:#353535;
    font-weight: 600;
}

h4 {
    font-size: 1.2em;
    font-weight: 600;
    color: #222;
    font-family: Montserrat;
}

.container, .container-fluid, .container-xl, .container-lg, .container-md, .container-sm {
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
}

#lightbox {
    position:fixed; /* keeps the lightbox window in the current viewport */
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    background:rgba(0, 0, 0, 0.5) repeat; 
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 500;
}

#lightbox p {
    color:#fff; 
    margin:20px; 
    font-size:16px; 
    font-family: raleway;
    font-weight: 600;
    cursor: pointer;
    }
#lightbox img {
box-shadow:0 0 25px #111;
max-width: 1500px;
max-height: 80vh;
}

#header {
    display: flex;
    align-items: center;
}

.hidden {
    display: none;
}

header.masthead {
    padding-bottom: 2rem;
    text-align: center;
    color: #fff;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    z-index: 2;
    position: relative;
}

header.masthead .max-width {
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px)
header.masthead .masthead-heading {
    font-size: 4vw;
    font-weight: 900;
    line-height: 4.5rem;
    
}

header.masthead .masthead-heading {
    font-size: 4vw;
    font-weight: 900;
    line-height: 3.25rem;
    margin-bottom: .5rem;
    font-family: "Raleway", "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-transform: none !important;
}

header.masthead .masthead-subheading {
    font-size: 2.5vw;
    line-height: 2.25rem;
    margin-bottom: 2rem;
    font-weight:100;
}

header ul{
    list-style-type: none;
}

header li {
    float: left;
    margin:0;
}



.page-section h2.section-heading {
    color: rgb(148, 0 ,0);
    font-size: 2rem;
    padding: 3rem 0 0 0;
}

.my-3 {
    margin:3rem 0 2rem;
}


@media (min-width: 992px)
.navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.navbar {
    padding: 0;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color:#fff;
}

.navbar-dark .navbar-toggler {
    border:hidden;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 1px;
}

#subMenu {
    height: 50px;
    background-color: #2B2B2D;
}

#subMenu a{
    color: #999;
}

#subMenu a:hover {
    color:#ededed
}

.navbar-brand {
    cursor:default;
    color:#999 !important;
}

#subMenu .max-width {
    align-items: center;
    justify-content: center;
    width: 870px;
}

#subMenu .sub-navbar-nav {
    position: relative;
    margin: 0;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style: none;
}

li a:hover {
    margin:0;
}

#subMenu li a:hover {
    background-color: rgba(255,255,255,.01);
}
  
.heroMobile {
    width: 23vw;
    padding: 8rem 0 4rem;
    max-width: 460px;
    
}

.heroDesktop {
    width: 45%;
    padding:6rem 0 2rem;

}

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 84px;
    z-index: 400;
}

#subMenu .navbar-nav .nav-item .nav-link {
    font-size: 1rem;
    padding: 5px 10px;
}
#subMenu .container-fluid {
    width: max-content;
}

/*Case Study*/

.bg-light {
    background-color: #eee !important;
}

#final {
    background-color: #252526!important;
    color:#ededed;
}

a.portfolioAnchor {
    position: relative;
    top: -88px;
    display: block;
    visibility: hidden;
}
.sectionHeader {
    width: 100%;
    position: relative;
    height: fit-content;
    background-color: #444448;
    color: #ededed;
    font-weight: 100;
    padding: 9rem 0;
}

.page-section {
    padding:6rem 0;
}

.page-section .max-width {
    justify-content: center;
}

.page-section p{
    color:#222;
    font-weight: 400;
}
.page-section img{
    width: 100%;
    padding: 1rem 0 2rem;
}

.dark25 {
    background-color: #252525;
    color:#ededed;
}

.dark35 {
    background-color: #353535;

}
.dark.page-section h2.section-heading {
    color: #ededed;
}
.dark.page-section p {
    color: #ededed;
}


#userResearch img{
    padding:1rem 0 1rem;
}
#definition h2{
    padding:4rem 0 0rem;
}

#definition ul{
    padding:0 0 4rem;
}

.CSheroImage {
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
}

.CSheroImage img{
    width: 100vw;
}

section .heroSpread {
    padding:0;
}

.playProto .max-width {
    flex-direction: column;
}

.protoPlay {
    padding:0 0 1rem;
}

.protoPlay a{
    font-size: 24px;
    font-weight: 400;
    color: #222;
    position: relative;
    top: 0;
    text-align: left;
    width: 400px;
}

.protoPlay img{
    position: absolute;
    left: 320px;
    transform: rotate(90deg);
    filter: invert(1) opacity(0.9);
    width:18px;
}

.protoMobile {
    margin: 0 auto;
    min-height: 900px;
    width: 650px;
}

#mobileVideo {
    display: flex;
    position: relative;
    top: 0;
    margin: 1rem auto;
    width: 100%;
    height: 100%;
    min-height: 700px;
}

#final p{
    color:#ededed;
}

#finalThoughts a{
    color:#bbc1ff
}
#finalThoughts a:hover{
    color:#6a79ff
}

#otherProjects {
    width:100%;
    height: fit-content;
    background-color: #2b2b2d;
    text-align: center;
    padding-bottom: 3rem;
    position: relative;
}

#otherProjects h2 {
    color:#ededed;
    padding-top:3rem;
}

.flexBox {
    display: inline-flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: space-around; 
    align-content: center;
    height: 20vw;
}

.portfolioLink{
    margin:0 1rem;
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    
}

.portfolioLink img{
    width: 17vw;
    height: 17vw;
    display: block;
}

.portfolioLink:hover img {
    opacity: .3;
    transition:all .3s ease-in-out;
}

.portfolioLink h3 {
    padding: 2rem;
    position: absolute;
    text-align: center;
    font-size: 2vw;
    font-weight: 200;
    color:#ededed;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.portfolioLink:hover h3 {
    opacity: 1;
}



@media screen and (max-width: 992px) {
    h2 {
        margin:0 !important
    }
    
    h4 {
        margin:0 !important
    }
    .navbar-nav {
        align-items: flex-end;
    }

    button:focus {
        margin-left: 0;
    }
    .sticky-top {
        top:50px;
    }

    #subMenu .navbar-toggler:focus {
        box-shadow: none;
    }
    #subMenu button:focus {
        outline: none;
    }

    #subMenu .navbar-toggler-icon {
        left: unset;
        margin: 3px 0 0 6rem;
        opacity: 0.5;
    }

    #subMenu .navbar-brand {
        position: absolute;
    }

    #subMenu .navbar-collapse {
        margin: 0 auto;
        width: max-content;
        padding: 0 2rem;
        position: absolute;
        left: unset;
    }

    #subMenu .navbar-toggler-icon {
        background-image: url(icons/chevron-right.svg);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        transform: translate(-2rem);
    }
    #subMenu .navbar-toggler-icon img{
        height: 20px;
        transform: rotate(90deg);
    }

    #subMenu .navbar-toggler:not(:disabled):not(.disabled) {
        cursor: pointer;
        left:0;
        width: 0;
        margin: 0 0 0 5rem;
    }

    #subMenu .sub-navbar-nav {
        flex-direction: column;
        height: max-content;
        padding: 0 2rem 2rem;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: #2b2b2d;
    }

    #subMenu .container-fluid {
        width: 100vw;
        background-color: #343a40 ;
        display: flex;
        justify-content: center;
        height: 50px;
    }

    #subMenu ul {
        width:max-content;
        margin:0 auto;
        padding:0 0 1rem;
        transform: translate(12px);
    }

    #subMenu li {
        padding:1rem 1rem 0;
    }
    
    .heroMobile {
        width: 36vw;
    }
    header.masthead .masthead-heading {
        font-size: 9vw;
    }
    header.masthead .masthead-subheading {
        font-size: 4vw;
        line-height: 200%;
    }


}

@media screen and (max-width:767px) {
    #mainNav .navbar-nav .nav-item .nav-link {
        font-size: 1rem;
        padding:15px 10px;
    }
    
    .heroMobile {
        width: 50vw;
    }

    header.masthead {
        padding-top:5rem;
        padding-bottom:1rem;
    }
    header.masthead .masthead-heading {
        font-size: 13vw;
    }
    header.masthead .masthead-subheading {
        font-size: 5vw;
        line-height: 200%;
    }

    .page-section {
        padding: 1rem 0 3rem;
    }

    #brainstorming .bg-light {
        margin: .5rem 1rem !important;
    }
}

