/*Intro*/
#intro {
    position: relative;
    top:0;
    height: 379px;
    right:0;
}

#bgImage {
    position: fixed;
    top:0;
    height: 569px;
    width: 100%;
    background-color: #19191b;
    right:0;
    display: flex;
    justify-content: center;
    z-index: -1;
}

#bgImage .max-width {
    display: flex;
    justify-content: center;
}

#bgImage img{
    position: relative;
    height: 379px;
    left: 25%;
}

#helloMobile {
    display: none;
}

#hello {
    position: relative;
    height: 485px;
    left: 0px;
    background-color: transparent;
    font-family: montserrat;
    font-size: 25px;
    font-weight: 200;        
    color: #ededed;  
    top:84px;  
}

#hello .max-width {
    display: inline-block;
}
#helloBG {
    position: absolute;
    height: 295px;
    left: 0;
    top:0;
    width: 60%;    
}
#helloBG img {
    position: absolute;
    left:70%;
    top:80%;
    transform: rotate(90deg);
    filter: opacity(85%);
    padding: 16px;
}
#hello h1 {
    font-family: raleway;
    font-size: 2em;
    font-weight:900;
    text-align: right;
    color: #ededed;
    position: absolute;
    top: 0vh;
    right: 4vw;
    width: 50vw;
}

#hello p{
    font-family: montserrat;
    font-size: 1rem;
    font-weight:200;
    text-align: right;
    color: #ededed;
    position: absolute;
    top: 65px;
    right: 4vw;
    /*left: 50vw;
    transform: translate(-66%);*/
    width: 50%;
}
#hello img {
    position: absolute;
    left:70%;
    top:210px;
    transform: rotate(90deg);
    filter: opacity(85%)
}

#rollover img {
        padding: 16px;

}

.thisIsScott {
    display: none
}
    
.introDesktop {
        display: block;
    }
    
    .introMobile {
        display: none;
    }

#rollover {
    position: absolute;
    height: 295px;
    left: 0;
    top:0;
    width: 60%;
    background-color: #19191b;
    filter:opacity(0);
    transition-delay: 50ms;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

#hello:hover #rollover{
    position: absolute;
    height: 295px;
    left: 0;
    top:0;
    background-color: #19191b;
    filter:opacity(100%);
    transition-delay: 50ms;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    
}


.port{
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    height: max-content;
    overflow: hidden;
    height: 395px;
    z-index: 5;
}


.dark2 {
    background-color:#2b2b2d;
}

.dark1 {
    background-color:#19191b;
}

.heroImage img {
    margin:0;
    transition: all .3s ease-in-out;
    max-width: 1231px;
    width: 60%;
}

.heroImage {
    position: relative;
    left:25%;
}

.threeMobiles img{
    width: 70%;
    max-width: 1231px;
    margin:1rem 0 0 5rem;
}

.computer img{
    width:50vw;
    max-width: 1231px;
    margin: 1rem 0 0 6vw;
}

.heroImage img:hover {
    margin-top:-2rem;
}

.heroText {
    margin: 0 0 0 -2rem;
}

.heroText h1{
    font-family: raleway;
    font-size: 30px;
    font-weight:900;
    color: #ededed;
    top: 0;
    left: 0;
    text-align: left;
    padding: 0;
    text-decoration: none;
    width: 10vw;
}
.heroText h3{
    font-size: 20px;
    font-weight: 200;
    font-family: montserrat;
    color: #ededed;
    top: 10px;
    text-align: left;
    width: 250px;
    left: 0;
    padding: 0;
}
.heroText a {
    font-family: raleway;
    font-size: 40px;
    font-weight:900;
    color: #ededed;
    position: absolute;
    left: 0;
    text-align: left;
    padding: 2rem 0 0 2rem;
    text-decoration: none;
    width: 20vw;
    height: 100%;
    transition: all .3s ease-in-out;
    
}


.heroText a:hover {
    color:#f9f9f9;
background: linear-gradient(90deg, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.04) 50%, rgba(255,255,255,0) 100%);}


.ascender {
    width: 100%;
    height: 395px;
}

.ascender.heroImage {
    height: 400px;
}

.ascender img {
    width: 65%;
    margin:-1rem 0 0 7vw;
    filter: drop-shadow(-20px 20px 20px rgb(0,0,0,.5));
}

.desktop02 img {
    margin:1rem 0 0 5rem;
}



/* Larger than 2000px*/
@media screen and (min-width: 2000px) {
    /* #intro {
        height: 15vw;
    } */
    
    #hello {
        display: flex;
        justify-content: center;
    }
    
    #hello .max-width{
        display: flex;
        justify-content: center;
    }
    
    #helloBG {
        width: 660px;
        display: flex;
        justify-content: center;
        position: absolute;
        left: unset;
    }

    #hello H1 {
        position: relative;
    }

    #hello img{
        left:315px;

    }

    #rollover {
        width: 660px;
        display: flex;
        justify-content: center;
        position: absolute;
        left: unset;
    }

    #hello:hover #rollover {
        width: 660px;
        display: flex;
        justify-content: center;
        position: absolute;
        left: unset;
    }

    .heroImage {
        display: flex;
        justify-content: center;
    }

    .ascender img{
        position: unset;
        width: max-content;
        margin:-1rem 0 0 5rem;

    }

    .port img{
        position: relative;
        width: max-content;
        margin:1rem 0 0 100px;

    }

    .heroText {
        position: absolute;
    }
    
    .heroText a {
        left:unset
    }

    .heroText h1{
        width:200px;
    }
}


/* Mobile Index*/

@media screen and (max-width: 992px) {
    #intro {
        top:50px;
        height: 70vw;
    }
    #bgImage .max-width {
        display: flex;
        justify-content: flex-start;
    }

    #bgImage {
        height: max-content;
    }

    #bgImage img{
        left:0;
        width: 100vw;
        height: 100vw;
    }
    #hello {
        display: none;
    }
    #helloMobile {
        display: block;
        font-size: 4vw;
        margin: 25vw 0 0 55vw;
        padding:1rem;
        flex-direction: column;
        text-align: center;
        background-color: rgba(0,0,0,.4);
        border-radius: 10px;
    }

    #chevronLeft {
        transform: rotate(180deg);
        width: 5vw;
        height: 4vw;
        position: absolute;
        left: 55vw;
        margin-top: 1.5vw;
    }
    #helloMobile h1 {
        font-size: 6vw;
    }
    #helloMobile p {
        font-weight: 600;
    }

    img.chevronDown{
        transform: rotate(90deg);
    }

    .heroImage {
        left:0;
    }

    .computer img {
        margin:0;
    }

    .threeMobiles img {
        margin:0;
    }

    .heroText {
        position: absolute;
        z-index: 5;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 100vw;
        height: 100vw;
        margin:0;
        padding: 0 0 1rem 0;
        background-color: rgba(0,0,0,.4);
    }

    .heroText a {
        text-align: center;
        width: max-content;
        max-width: 70vw;
        height: unset;
        left: unset;
        padding:unset;
    }

    .heroText a:hover {
        background: none;
    }

    .heroText h1{
        width:unset;
        text-align: unset;
        font-size: 8vw;
    }
    .heroText h3{
        width:unset;
        text-align: unset;
        font-size: 6vw;
    }

    

    .ascender {
        width:100vw;
        height: 100vw;
        margin: 0;
    }

    .ascender img{
        width:100vw;
        left:0;
        z-index: 0;
        filter: none;
        margin:0 0 0 0;
    }

    .port {
        height: 100vw;
    }

    .port img {
        width:100vw;
        height: 100vw;
        left:0;
    }

    .doiDesktop {
        display: block;
        position: absolute;
        width: 100vw;
        margin: -1rem 0 0;
        left: 0;
        z-index: 0;
    }

    .doi .heroImage {
        margin:0 0 -1rem;
    }

    .doi img{
        margin-top: 1rem;
    }

    .desktop02 {
        width: 100vw;
        left: 0;
        z-index: 0;
        margin: 0;
    }
    .max-width {
        padding:0 0;
    }
}