body {
    background-color: #19191b;
}
ul {
    list-style-type: none;
}

#myBtn {
    right:0;
}

@media screen and (max-width: 992px) {
    #mainMenu .navbar-nav {
        background-color: #474747;
    }
}

.anchorTop {
    position: absolute;
    top:0;
}

a.anchor{
    position: relative;
    top:-100px;

}
/*Intro*/
#intro {
    position: relative;
    top:0;
    height: 650px;
    right:0;
    display: flex;
    justify-content: center;
}


#helloMobile {
    display: none;
}

#hello {
    position: relative;
    height: 295px;
    background-color: transparent;
    font-family: montserrat;
    font-size: 25px;
    font-weight: 200;        
    color: #ededed;  
    top:100px;  
    display: flex;
    flex-direction: row;
    width: max-content;
    margin:0 auto;
    gap: 11rem;
    transform: translate(-4.5rem);

}

@media (max-width: 1180px) {
    #hello {
        gap:4vw;
        transform: translate(-0.5rem);
    }
}


.hello {
    align-self: center;
}

#hello img {
    position: absolute;
    left:55%;
    top:430px;
    transform: rotate(90deg);
    filter: opacity(85%);
    padding: 16px;
}
#hello h1 {
    font-family: raleway;
    font-size: 4em;
    font-weight:900;
    text-align: left;
    color: #ededed;
    top: 0vh;
    align-self: center;
}

#hello h3 {
    font-weight: 100;
    font-size: 1.38rem;
}

#hello p{
    font-family: montserrat;
    font-size: 2rem;
    font-weight:200;
    text-align: left;
    color: #ededed;
    margin-top:2rem;
    width: 100%;
}

.scroll-next {
    position:absolute;
    top:580px

}

.scroll-next img {
    transform: rotate(90deg);
    filter: opacity(85%);
}

@media (max-width: 992px) {
    #hello {
        top:unset;
    }

    #hello p {
        font-size: 1.38rem;
        margin-top: 0;
    }

    .hello {
        align-self: flex-start;
    }
}

@media (max-width: 450px) {
    #hello {
        padding: 0 .5rem;
    }
}
#portfolio {
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

}

#portfolio.max-width {
    width: 100%;
    max-width: 2000px;
    padding: 0;
}

.portItem {
    width: 50%;
    height: 50%;
    max-width: 50%;
}

.portItem img{
    width: 100%;
}

.port{
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    height: max-content;
    overflow: hidden;
    height: 395px;
    z-index: 5;
}


.dark2 {
    background-color:#2b2b2d;
}

.dark1 {
    background-color:#19191b;
}


.heroText {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: calc(50vw - 7px);;
    background-color: rgba(0,0,0,.8);
    transition: all .3s ease-in-out;
    opacity: 0;
}
.heroText:hover {
    opacity: 1;
}

.heroText h1{
    font-family: raleway;
    font-size: 4rem;
    font-weight:900;
    color: #ededed;
    top: 0;
    left: 0;
    text-align: center;
    padding: 2rem 0 0 2rem;;
    text-decoration: none;
    width: 100%;
    max-width: 540px;
}
.heroText h3{
    font-size: 2rem;
    font-weight: 200;
    font-family: montserrat;
    color: #ededed;
    top: 10px;
    text-align: left;
    left: 0;
    padding: 0 0 0 2rem;
}

.portItem.blank {
    background-color: #414144;
}

@media screen and (max-width: 670px) {
    .portItem {
        width: 100%;
        height: 100%;
        max-width: 100%;
    }
    .portItem.blank {
        display: none;
    }
}

/* PHOTO */

#photoContent {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    width:100%;
    max-width: 2000px;
    margin: 0 auto;
    top:0rem;
    background-color: #19191b;
    padding: 6rem 0;
}

#photoContent .max-width {
    justify-self: center;
}

#photoContent > div {
    margin:1rem;
}

#photographer {
    position: sticky;
    top:7rem;
    left:0;
    right:0;
    width: 35%;
    margin: 2rem 2rem 0 0;
    height: 100%;
}

#photographer a{
    color: #8591f8;
}

#photographer a:hover{
    color: #8591f8;
    text-decoration: underline;
}

#sitePreview {
    padding:2.25rem 0 6rem;
    width:50%;
    max-width:850px;
    display: block;
    overflow: auto;
    
}

#sitePreview img {
    width:100%;
    max-width: 850px;
}

#photoBig {
        display: block;
    }
#photoSmall {
    display: none;
}

@media (max-width: 1310px) {
    #photoContent {
        width:90%
    }

    #photoContent a {
        color:#6A79FF;
    }
    
    #photographer { width:40%;
    }
}

@media (max-width: 1230px) {
    #photographer { width:45%;
    }
}


@media (max-width: 1080px) {
    #photoContent {
        width:95%
    }
    
    #photographer { width:50%;
    }
    
    #social {
        padding-bottom: 2rem;
    }
}

@media (max-width: 914px) {
    #photoContent {
        flex-wrap: wrap;
    }

    #photographer {
        position: unset;
        width:80%;
    }

    #sitePreview {
        width:100%;
        min-width: 360px;
        padding-bottom:11rem;

    }
    #sitePreview img {
        width:80vw;
        min-width: 360px;
        margin:0 auto;
        
    }

    #photoBig {
        display: none;
    }
    #photoSmall {
        display: block;
    }


}

@media screen and (max-width: 670px) {
    #photoContent .max-width {
        flex-direction: column;
    }

    #photographer {
        width: 100%;
    }
}

/* ABOUT */

#about {
    position: relative;
    margin-top: 0rem;
    height: 35vw;
    max-height: 800px;
    width: 100%;
    background-color: #19191b;
}

#about .max-width{
    align-items: center;
}

#about img{
    height: 35vw;
    margin:0 0 0 -2vw;
    max-height: 800px;
}

.about img{
    width: 32px;
    filter: invert(1);
    height: 32px !important;
    margin: 0 1rem !important;
    opacity: .7;
}

.about a{
    color:#6A79FF;
    
}


ul.card {
    list-style-type:square ;
    color: #ededed;
    width: 250px;
}

#skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: max-content;
    margin:0 auto;
    padding:3vw 0;
    background-color: #2b2b2d;
}
#skills ul {
    list-style-type: none;
}

#skills li {
    float: unset;
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 1.7;
}

#skillTitle {
    text-align: left;
    width: 780px;
    margin: 1rem auto;
}
#skills .max-width {
    position: relative;
    display: flex;
    justify-content: center;
    grid-gap: 0;
    flex-wrap: wrap;
    margin:0 auto;
}

.card {
    background-color: #414144;
    border-radius: 15px;
    padding:20px 20px 20px 40px;
}


#resume {
    background-color: #252526;
    position: relative;
    height:100vw;
    max-height: 1400px;
    width:100vw;
    
}

#resume .max-width {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#resume h1 {
    color:#ededed;
    font-family: 'raleway';
    font-weight: 900;
    padding: 2rem 0;
    position: relative;
    top:2rem;
    width: max-content;
        
}
@media screen and (max-width: 992px) {
    #about {
        height: unset;
        max-height: unset;
    }
    #about img {
        width: 56%;
        height: 100%;
        align-self: flex-start;
        margin-left: -5rem;
    }
    .about {
        padding: 1rem;
    }

    #skills {
        padding:6rem 0;
    }
    #skillTitle {
        width: max-content;
    }
}
@media screen and (max-width: 670px) {
    
    

    #about .max-width {
        flex-direction: column;
    }
    #about img{
        width: 100%;
        height: 100%;
    }    
    #about h1 {
        position: absolute;
        margin-top: -20vw;
        width: 40vw;
        left: 56vw;
        font-size: 6vw;
    }
    #about p{
        padding: 2rem;
    }

    .about img{
        width: 32px !important;
    }
}

/* contact  */
#contact {
    background-color: #2b2b2d;
    width: 100%;

}
.contact {
    font-family: montserrat;
    font-weight: 200;
    font-size: .75em;
    color: #ededed;
    width: fit-content;
    position: relative;
    text-align: center;
    margin:0 auto;
    padding: 6rem 0;
    font-size: 1.5rem;
}

.contact h1 {
    padding:0 0 1rem;
}
.contact h2 {
    padding:1rem 0 0;
    color:#cacaca;
}

#contactSocial {
    width: max-content;
    margin: 0 auto;
}

#contactSocial ul {
    display: flex;
    margin:0;
    /* padding:0 0 0 .8rem; */
    flex-direction: row;
    gap:3rem;
    
}

#contactSocial a{
    padding:0;
    height: fit-content;
}

#contactSocial a:hover {
    filter:opacity(.5)
}

#contactSocial img{
    width:30px;
    height: 40px;
    filter: invert(1) opacity(.9);
    margin: 0 0 0 -2rem;
}


/* Larger than 2000px*/
@media screen and (min-width: 2000px) {
    /* #intro {
        height: 15vw;
    } */
    
    #hello {
        display: flex;
        justify-content: center;
    }
    
    #hello .max-width{
        display: flex;
        justify-content: center;
    }
    
    #helloBG {
        width: 660px;
        display: flex;
        justify-content: center;
        position: absolute;
        left: unset;
    }

    #hello H1 {
        position: relative;
    }

    #hello img{
        left:315px;

    }

    #rollover {
        width: 660px;
        display: flex;
        justify-content: center;
        position: absolute;
        left: unset;
    }

    #hello:hover #rollover {
        width: 660px;
        display: flex;
        justify-content: center;
        position: absolute;
        left: unset;
    }

    .heroImage {
        display: flex;
        justify-content: center;
    }


    .heroText {
        position: absolute;
    }
    
    .heroText a {
        left:unset
    }

    .heroText h1{
        width:200px;
    }
}


/* Mobile Index*/

@media screen and (max-width: 992px) {
    #intro {
        top:50px;
        height: 575px;
    }
    
    #hello {
        flex-direction: column;
    }

    .scroll-next {
        top:450px;
    }

    #chevronLeft {
        transform: rotate(180deg);
        width: 5vw;
        height: 4vw;
        position: absolute;
        left: 55vw;
        margin-top: 1.5vw;
    }
    

    img.chevronDown{
        transform: rotate(90deg);
    }

    


    .heroText a {
        text-align: center;
        width: max-content;
        max-width: 70vw;
        height: unset;
        left: unset;
        padding:unset;
    }

    .heroText a:hover {
        background: none;
    }

    .heroText h1{
        width:unset;
        text-align: center;
        font-size: 7vw;
        padding: 0 2rem;
    }
    .heroText h3{
        width:unset;
        text-align: center;
        font-size: 4vw;
        padding: 0 2rem;
    }

    


    .port {
        height: 100vw;
    }

    .port img {
        width:100vw;
        height: 100vw;
        left:0;
    }


    .desktop02 {
        width: 100vw;
        left: 0;
        z-index: 0;
        margin: 0;
    }
    .max-width {
        padding:0 0;
    }

    #myBtn {
        right: unset;
    }
}