/* tablet portrait breakpoint */

@media (max-width: 812px) {

}

/* tablet landscape breakpoint */
@media (max-width: 1080px) {
    
    h2 {
        padding:2rem 0;
    }

    p {
        padding:.5rem 0;
    }

    a {
        color:6A79FF;
    }
    
    #logo {
        top:18px;
    }
    #menu {
        display: none;
    }
    
    /* 
     Mobile Navigation!
    */
    
    
    #nav-container {
        display: block !important;
      position: fixed;
      height: 100vh;
      width: 100%;
      pointer-events: none;
    }
    
    #nav-container a {
        color:#ededed;
    }
    
    #nav-container .bg {
      position: absolute;
      top: 84px;
      right: 0;
      width: 100%;
      height: calc(100% - 84px);
      visibility: hidden;
      opacity: 0;
      background: #000;
    }
    #nav-container:focus-within .bg {
      visibility: visible;
      opacity: .6;
    }
    #nav-container * {
      visibility: visible;
    }

    .button {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      right:0;
      z-index: 1;
      -webkit-appearance: none;
      border: 0;
      background: transparent;
      border-radius: 0;
      height: 84px;
      width: 30px;
      cursor: pointer;
      pointer-events: auto;
      margin-right: 25px;
      touch-action: manipulation;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
    }
    .icon-bar {
      display: block;
      width: 100%;
      height: 3px;
      background: #ebebeb;
      transition: .3s;
        border-radius: 30%;
    border:none;
    }

.a2 {
    width: 25px;
    margin-left:5px;
}

.a3 {
    width: 20px;
    margin-left:10px;
}

#nav-container:focus-within .icon-bar:nth-of-type(2) {
      width:20px;
    }
    .icon-bar + .icon-bar {
      margin-top: 5px;
    }

    #nav-container:focus-within .button {
      pointer-events: none;
        border: 0;
        outline: 0;
        opacity: 1;
        z-index: 100;
    }
    #nav-container:focus-within .icon-bar:nth-of-type(1) {
      transform: translate3d(0,8px,0) rotate(45deg);
    }
    #nav-container:focus-within .icon-bar:nth-of-type(2) {
      opacity: 0;
    }
    #nav-container:focus-within .icon-bar:nth-of-type(3) {
      transform: translate3d(-10px,-8px,0) rotate(-45deg);
        width: 30px;
    }

    #nav-content {
      margin-top: 84px;
      padding: 20px;
      width: 90%;
      max-width: 300px;
      position: absolute;
      top: 0;
      right: 0;
      height: calc(100% - 84px);
      background: #2b2b2b;
      pointer-events: auto;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      transform: translateX(100%);
      transition: 50ms;
    }

    #nav-content ul {
      height: 100%;
      display: flex;
      flex-direction: column;
      color: #ededed;
    }

    #nav-content li a {
      padding: 10px 5px;
      display: block;
      text-transform: uppercase;
      transition: color .1s;
      color:#ededed;
    }

    #nav-content li a:hover {
      color: #777;
    }
    #nav-content li:not(.small) + .small {
      margin-top: auto;
    }
    #nav-container:focus-within #nav-content {
      transform: none;
    }
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }


    a,
    a:visited,
    a:focus,
    a:active,
    a:link {
      text-decoration: none;
      outline: 0;
    }

    a {
      color: currentColor;
      transition: .2s ease-in-out;
    }
    
    /* END MOBILE MENU */
    
    
    
        /* Homepage */
    #bgImage {
        left:0;
    }
    #hello {
        background-color:#252526;
    }
    #helloBG {
        display: none
    }
    
    #hello a {
        filter: opacity(100%);
        left:auto;
        background-color: rgba(0,0,0,0)
    }
    
    #hello h1 {
        right:0;
        width:fit-content;
        top:2rem !important;
    }
    
    #hello p {
        top:6rem;
        right:0;
    }
    
    #rollover {
        top:2rem;
    }
    
    .scott {
        display: none;
    }
    .thisIsScott {
        display: block;
    }
    
    #port01 {
        height: 400px;
        top:484px;
    }
    #port02 {
        height: 400px;
        top:400px;
    }
    #port03 {
        height: 400px;
        top: 800px;
    }
    #port04 {
        height: 400px;
        top:1200px;
    }
    .desktop {
        width: 45%;
        left:37%;
    }
    .mobile {
        width: 47%;
        left:70%;
    }
    .desktop02 {
        width: 45%;
        left:40%;
        top:-10px
    }
    .mobile02 {
        width: 47%;
        left:75%;
        top:5em;
    }
    #ink {
        left:47%
    }
    
    #ink img {
        width: 70%;
    }
    
    #travelize {
        left:47%;
        
    }
    
    #travelize img {
        width:70%;
        
    }
    
    /* Dept of Interior Tablet */
    
    
    
    #caseStudy {
        top:40em;
    }
    #video2 {
        max-width: 375px;
        height: 850px;
    }
    
    /* RMRC Tablet */
    
    #portfolioContent {
        height: fit-content;
    }
    
    #video {
        display: none;
    }
    
    /* INK! Tablet */
    
    #ink li {
        width: 16.6% !important;
    }
    
    #INKprototype {
        top:75vw !important;
        left:1rem !important;
        background-color: rgba(0,0,0,.25);
    }
    
    
    /* About Tablet */
    
    #hello {
        position: relative;
        
    }
    
    #hello h1{
        font-size: 2rem !important;
    }
    .about {
        position: relative;
        top: 2rem !important;
        height: inherit;
    }
    
    .about h1 {
        top:0 !important;
    }
    
    #resume {
        position: relative !important;
        top: 5rem !important;
    }

    #social ul {
        display: grid;
        grid-template-columns: repeat(5, auto);
        justify-content: center;
        grid-template-areas: "first second email separator phone";                    
    }
    #social {
        position: relative;
        top:0;
        height: 84px;
    }

    .first {
        grid-area: first;
        justify-self: end;
    }

    .second {
        grid-area: second;
        justify-self: start;
    }

    .email {
        grid-area: email;
    }
    .separator {
        grid-area: separator;
    }
    .phone {
        grid-area: phone;
    }
}

/* mobile portrait breakpoint
-------------------------------
*/

@media (max-width: 640px) {
    #header {
        position: absolute;
    }
    
    #nav-container {
        position:absolute;
    }
    
    #logo {
        top:20px;
        left:1rem;
        transform: translate(0)
    }
    
    #bgImage {
        height: 50vw;
        position: relative;
        left: 0;
    }
    
    #bgImage img{
        position: absolute;
        left:auto;
        height: 50vw;
        right:-20%;
    }
    
    #hello a{
        left:0 !important;
        background-color:rgba(0,0,0,0);
    }
    
    #hello h1 {
        font-size: 2em;
        text-align: left;
        right: auto;
        left:2rem;
    }
    
    #hello img{
        position: relative;
        top:1rem;
        left:83%;
    }
    
    .scott {
        display: none;
    }
    
    .introDesktop {
        display: none;
    }
    
    .introMobile {
        display: block;
    }
    
    #hello p{
        width: 80vw;
        left: 2rem;
        text-align: left;
        top:2rem;
        position: relative;
    }
    
    #mobileIntro p{
        left:auto !important;
        margin: 0 auto;
        top:0 !important;
        
    }
    
    .heroText a {
        width: 90%;
        padding: 0;
        left:2rem;
        top:auto;
    }
    
    .heroText h1 {
        width: 90%;
        font-size: 2rem;
    }
    
    .heroText h3 {
        font-size: 1.3rem;
    }
    
    .desktop {
        transform: rotate(0);
        width: 110%;
        left:-2rem;
        top:11rem;
    }
    .mobile {
        display: none;
    }
    .desktop02 {
        transform: rotate(0);
        width: 110%;
        left:-2rem;
        top:11rem;
    }
    .mobile02 {
        display: none;
    }
    #ink {
        left:1.5rem;
        top:10rem;
    }
    #ink li {
        transform: rotate(0);
        width:65%;
    }
    
    #travelize {
        left: 1.5rem;
        top: 10rem;
    }
    
    #travelize li{
        transform: rotate(0);
        width:65%;
    }
    
    #myBtn {
        right:auto;
        bottom: 0;
        left:50%;
        transform: translate(-50%);
        width: 5rem;
    }
    
     /* Dept of Interior Phone */
    
    .title {
        width: 90%;
    }
    .title h1 {
        left:0;
        font-size: 1.9em;
        width: fit-content;
    }
    
    .title h3 {
        left:0;
        top:4rem;
        width: 90vw !important;
    }
    
    .DOIdesktop {
        width: 80%;
        left: 1.1rem;
        top:12rem;
    }
    
    .DOImobile {
        left:68%;
        top:16.7rem;
        width:60%;
    }
    
    #csMenu {
        top: 33rem;
        background-color: #2b2b2d;
        width: 100%;
        height: 30rem;

    }
    
    #csMenu ul{
        padding: 0;
        transform: translate(-50%, 1rem);
      
    }
    
    #csMenu li{
        float: none;
        
    }
    
    #csMenu li a:active {
        display: block;
        color: #fff;
        text-align: center;
        padding: 16px;
        text-decoration: none;
        background-color: #3e3e3e;
    }
    
    #caseStudy {
        top:55rem;
        width: 100%;
        min-width: 200px;
    }
    
    iframe {
        display: none;
    }
    .stackItemTop {
        display: none;
    }
    #video2 {
        display: none;   
    }
    
    /* RMRC Phone */
    
    .RRdesktop {
        top:12rem;
        width: 70%;
        left: 2rem;
    }
    
    .RRmobile {
        top: 14.3em;
        width: 70%;
        left: 69%;
    }
    
    #video {
        display: none;
    }
    
    
    /* INK! Phone */
    
    #ink li {
        width:33% !important;
    }
    
    #INKprototype {
        top:260vw !important;
        left:0 !important;
        font-size: 18px !important;
    }
    
    #INKprototype img{
        left: 240px !important;
    }
    
    /* travelize Phone */
    
    .images ul {
        left: 0 !important;
        transform: translate(-.5rem) !important;
    }

    #social {
        height: 16rem;
        width: 100%;
        background-color: #19191b;

    }
    #social ul{
        padding:2rem;
        display: grid;
        grid-template-columns: repeat(6, 45px);
        grid-template-rows: repeat(3, 33px) 2px;
        justify-content: center;
        grid-template-areas:
        "first first first second second second"
        "email email email email email email"
        "phone phone phone phone phone phone"
        "separator separator separator separator separator separator";  
    }

    .first {
        align-self: self-end;
    }
    .second {
        align-self: self-end;
    }

    .separator {
        visibility: hidden;
    }
    
}
    
   
}

/* small laptop breakpoint */
@media (min-width: 1280px) {

}