
html {
    max-width: 100%;
    overflow: hidden;
    }

html,body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    position: relative;
    background-color:#292929;
    #color:#ededed;
    max-width:2000px;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
    @font-face:'Montserrat';
    src: local('Montserrat'), url('fonts/Montserrat-Regular.ttf'), format('ttf');
    overflow-x:hidden;
    overflow-y:scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

section {
    margin:0;
}



h1 {
    font-family: 'Raleway','Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
    @font-face:'Montserrat';
    src: local('Montserrat-Regular'), url('fonts/Montserrat-Regular.ttf'), format('ttf');
    font-size: 2.5rem;
    font-weight: 900;
    color: #ededed;
}

h2 {
    font-family: 'Raleway','Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
    @font-face:'Montserrat';
    src: local('Montserrat-Regular'), url('fonts/Montserrat-Regular.ttf'), format('ttf');
    font-size: 2rem;
    font-weight: 900;
    color: #ededed;
}

h3 {
    font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
    @font-face:'Raleway-VariableFont_wght';
    src: local('Raleway-VariableFont_wght'), url('fonts/Raleway-VariableFont_wght.ttf'), format('ttf');
    font-size: 1.2;
    font-weight: 100;
    color: #ededed;
}
p {
    color:#ededed;
    font-weight:100;
}

a {
    color:#6A79FF;
}

#header {
    position:fixed;
    top:0;
    width: 100%;
    max-width: 2000px;
    background-color: #19191B;
    height: 84px;
    z-index: 1000;
}

@media (min-width: 1080px) {
    #menu {
        position: absolute;
        left:0;
        transform: translate(-16px);
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;

    }
    #menu-mobile {
        display: none;
    }
}
ul {
    list-style-type: none;
}
li {
    float: left;
}

li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
li a:hover {
    display: block;
    color: #fff;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    background-color: #2e2e2e;
    border-radius: 5px;

}


#logo {
    position: absolute;
    width:200px;
    top:18px;
    height: 46px;
    margin: auto;
    display: block;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
          filter: invert(100%);

}

#nav-container {
    display: none;
}

#intro {
    position: relative;
    top:84px;
    height: 569px;
}

#bgImage {
    position: fixed;
    top:84px;
    height: 485px;
    width: 100%;
    max-width: 2000px;
    background-color: #252526;
}

#bgImage img{
    position: relative;
    height: 485px;
    left:60%;
}

#hello {
    position: relative;
    width: 100vw;
    height: 485px;
    left: 0px;
    background-color: transparent;
    font-family: montserrat;
    font-size: 25px;
    font-weight: 200;        
    color: #ededed;    
}
#helloBG {
    position: absolute;
    height: 485px;
    left: 0;
    top:0;
    width: 60vw;    
}
#helloBG img {
    position: absolute;
    left:70%;
    top:80%;
    transform: rotate(90deg);
    filter: opacity(85%);
    padding: 16px;
}
#hello h1 {
    font-family: raleway;
    font-size: 3.2em;
    font-weight:900;
    text-align: right;
    color: #ededed;
    position: absolute;
    top: 0vh;
    right: 4vw;
    width: 50vw;
}

#rollover img {
        padding: 16px;

}

    .thisIsScott {
        display: none
    }
    
.introDesktop {
        display: block;
    }
    
    .introMobile {
        display: none;
    }

#rollover {
    position: absolute;
    height: 485px;
    left: 0;
    top:0;
    width: 60vw;
    background-color: #252526;
    filter:opacity(0);
}

#rollover:hover{
    position: absolute;
    height: 485px;
    left: 0;
    top:0;
    width: 60vw;
    background-color: #252526;
    filter:opacity(100%);
    transition-delay: 50ms;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    
}
#hello p{
    font-family: montserrat;
    font-size: 24px;
    font-weight:200;
    text-align: right;
    color: #ededed;
    position: absolute;
    top: 135px;
    right: 4vw;
    /*left: 50vw;
    transform: translate(-66%);*/
    width: 50vw;
}
#hello img {
    position: absolute;
    left:70%;
    top:80%;
    transform: rotate(90deg);
    filter: opacity(85%)
}


@media (min-width: 2000px) {
    #logo {
        left:1030px;
    }
    
    #hello {
        width:1030px;
    }
    
    #helloBG {
        width: 1230px;
    }
    #rollover {
        
        width: 1230px;
        
    }
    
    #rollover:hover{
        width:1230px;
        
    }

}

.anchor {
    display: block;
    position: absolute;
    top: 500px;
}

#portfolio::before { 
  display: block; 
  content: " "; 
  visibility: hidden; 
  pointer-events: none;
}

#portfolio{
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #171717;
}

#portfolio img {
    transition: all .3s ease-in-out;
}

#portfolio img:hover {
    margin-top:-2rem;
    padding-bottom: 2rem;
}

a.portfolioAnchor {
    position: relative;
    top:-88px;
    display: block;
    visibility: hidden;

}

.heroText h1{
    font-family: raleway;
    font-size: 40px;
    font-weight:900;
    color: #ededed;
    top: 0;
    left: 0;
    text-align: left;
    padding: 0;
    text-decoration: none;
    width: 10vw;
}
.heroText h3{
    font-size: 24px;
    font-weight: 200;
    font-family: montserrat;
    color: #ededed;
    top: 10px;
    text-align: left;
    width: 400px;
    left: 0;
    padding: 0;
}
.heroText a {
    font-family: raleway;
    font-size: 40px;
    font-weight:900;
    color: #ededed;
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    padding: 50px;
    text-decoration: none;
    width: 20vw;
    height: 100%;
    transition: all .3s ease-in-out;
    
}


.heroText a:hover {
    color:#f9f9f9;
    background-color: rgba(255,255,255,.05);
}
#port01 {
    background-color: #2b2b2d;
    overflow: auto;
    width: 100%;
    height: 485px;
   
    
}


.desktop {
    display: block;
    position: absolute;
    width: 40%;
    margin:auto;
    left: 35%;
    transform: rotate(-11deg);
    z-index: 0;
}

.desktop img{
    width: 100%;
    filter: drop-shadow(-20px 20px 20px rgb(0,0,0,.5));

}
.mobile {
    position:absolute;
    transform: rotate(-11deg);
    top:6.5em;
    width: 40%;
    left:70%;
    margin: auto;
}
.mobile img{
    width:30%;
    filter: drop-shadow(-20px 20px 20px rgb(0,0,0,.5));

}


#port02 {
    position: relative;
    background-color: #252526;
    overflow: hidden;
    width: 100%;
    height: 485px;
    z-index: 5;
    
    
}


.desktop02 {
    display: block;
    position: absolute;
    width: 40%;
    margin:auto;
    left: 35%;
    transform: rotate(-11deg);
    z-index: 0;
}

.desktop02 img{
    width: 100%;
    filter: drop-shadow(-20px 20px 20px rgb(0,0,0,.5));
}

.mobile02 {
    position:absolute;
    transform: rotate(-11deg);
    top:6em;
    width: 40%;
    left:71%;
    margin: auto;
}
.mobile02 img{
    width:30%;
    filter: drop-shadow(-20px 20px 20px rgb(0,0,0,.5));
}

#port03 {
    position: relative;
    background-color: #2b2b2d;
    overflow: hidden;
    width: 100%;
    height: 485px;
    z-index: 5;
    
}

#ink {
    position: relative;
    left: 40%;
    top:40px;
}
#ink li {
    display: block;
    float: left;
    transform: rotate(-11deg);
    width:60%;
    margin-left: -16%;
    margin-right: -16%;
}
#ink img {
    width: 55%;
}
#port04 {
    position: relative;
    background-color: #252526;
    overflow: hidden;
    width: 100%;
    height: 485px;
    z-index: 5;
    
}
#travelize {
    position: absolute;
    left: 40%;
    top:40px;
}
#travelize li {
    display: block;
    float: left;
    transform: rotate(-11deg);
    width:60%;
    margin-left: -16%;
    margin-right: -16%;
}
#travelize img {
    width: 55%;
}
a.anchor {
    display: block;
    position: relative;
    top: -205px;
    visibility: hidden;
    
}

#social {
    position: relative;
    top:0;
    width: 100%;
    height: 84px;
    background-color: #19191B;
    color:#ededed;
    font-weight: 100;
    
}

#social ul {
    display: flex;
    width: intrinsic;           /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content;    /* Firefox/Gecko */
    width: -webkit-max-content; /* Chrome */
    width: max-content;
    margin:auto auto;
    padding-inline-start: 0;
    
}

#social li {
    vertical-align: middle;
    padding: 0 .75em;
    text-align: center;
    display: block;
    top:50%;
    transform: translate(0, 50%);
    line-height: 35px;
}

#social li a{
    padding: 0 16px;
}

#social img {
    filter: invert(100%);
    height: 33px;
    width: 33px;
    margin: 0 -36px;
}

#social a:hover{
    background-color: rgba(0,0,0,0);
    filter:opacity(.5)
}




